.blogCard {
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  height: min-content;
}

.blogCard .image {
  background-color: #E1F2EA;
  cursor: pointer;
}

.blogCard .image img{
  max-width: 300px;
  border-radius: 5px 5px 0px 0;
  filter: brightness(.9);
  opacity: .9;
  transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
}


.blogCard .image img:hover {
  filter: brightness(1.4);
}


/* card content */

.blogCard .content {
  padding: 1.4em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blogCard .main_text > *,
.blogCard .meta div > * {
  margin: 0;
  padding: 0;
}

.blogCard .main_text {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.blogCard .main_text a {
  font-size: 1.2em;
  margin: 7px 0;
  font-weight: 600;
}

.blogCard .main_text span{
  font-size: 0.8em;
  opacity: 0.9;
  font-weight: 600;
}

.blogCard .main_text p {
  font-size: 1em;
  opacity: 0.9;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 140%;
}

.blogCard a {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.blogCard a:hover {
  text-decoration: underline;
  opacity: 0.9;
}
