.contactCard {
    max-width: 900px ;
  padding: 4em 2em;
    margin: 30px auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    border-radius: 5px;
  }
  
  .contactCard > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }
  .contactCard > div:first-child > * {
    margin: 0;
    padding: 0;
  }
  
  .contactCard > div:first-child h3 {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
  
  .contactCard > div:first-child p {
    font-size: 1.4em;
    font-weight: 400;
    max-width: 550px;
    letter-spacing: 0.3px;
  }
  
  @media only screen and (max-width: 970px) {
    .contactCard {
      margin: 30px;
    }
  }
  
  @media only screen and (max-width: 670px) {
    .contactCard {
      flex-direction: column;
      margin: 30px;
    }
  }