.serviceCard {
  width: 265px;
  height: 291px;
  background-color: white;
  margin: 0;
  padding: 1.2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.serviceCard .avatar {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #e1f2ea;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 1px 7px #2125290d;
}

.serviceCard .avatar img {
  max-width: 45px;
  margin: 0 auto;
  opacity: .9;
  margin-top: 3.5px;
  transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.serviceCard .avatar .offset{
  transform: translateX(5px);
}


.serviceCard:first-child .avatar img {
  margin-top: 8px;
}

.serviceCard .avatar img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.serviceCard .content h3,
.serviceCard .content p {
  padding: 0;
  margin: 0;
}

.serviceCard .content h3 {
  margin: 0 auto;
  margin-bottom: 7px;
  height: 1.4em;
  font-size: 1.1em;
  max-width: 138px;
}

.serviceCard .content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.025em;
}

.serviceCard a {
  font-weight: 600;
  width: max-content;
  margin: 0 auto;
}

.serviceCard a:hover {
  text-decoration: underline;
}



