.hero {
    width: 100%;
    height: max-content;
    background-color: #212529;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.568) 0px 15px 10px -15px;
  }
  
  .hero .container {
    display: flex;
    justify-content: center;
    color: #f3f6f8;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4em;
  }
  
  .hero .content{
    flex: 2;
    display: flex;
    gap: 1em;
    flex-direction: column;
  }
  
  .hero .content h1 {
    font-size: 48px;
    letter-spacing: 1px;
  }
  
  .hero .content p {
    max-width: 575px;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0.3px;
    opacity: .9;
  }

  .buttonGroup {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }
  
  .hero .content button {
  color: #212529;
  }

  .hero .content button:last-child {
    color: #c5ecd9;
    border: 1px solid #c5ecd9;
    background-color: transparent;
    }


  .hero .image {
    flex: 1;
  }
  
  .hero > div * {
    margin: 0;
    color: #f3f6f8;
  }
  
  @media only screen and (max-width: 900px) {
    .hero .content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: .9em;
    }
  
    .hero .image {
      display: none;
    }
  }
  
  @media only screen and (max-width: 750px) {

    .hero .content {
      font-size: .7em;
      gap:10px;
    }

    .buttonGroup {
      display: flex;
      gap: 4em;
      flex-wrap: wrap;
      justify-content: center;
    }

    .hero .content h1 {
      font-size: 40px;
      letter-spacing: 0.7px;
    }
  
    .hero .content p {
      max-width: 500px;
      line-height: 25px;
      font-size: 18px;
      letter-spacing: 0.3px;
    }
  }

  @media only screen and (max-width: 650px) {

    .hero .content {
      font-size: .2em;
      gap:10px;
    }

    .hero .content h1 {
      font-size: 30px;
      letter-spacing: 0.6px;
    }

    
  }
  
  @media only screen and (max-width: 475px) {
    .hero div {
      padding: 2em;
    }
    .hero .content {
      font-size: .1em;
      gap:10px;
    }
    .hero .content h1 {
      font-size: 25px;
      max-width: 300px;
      letter-spacing: 0.5px;
    }
    
  
    .hero .content p {
      line-height: 25px;
      font-size: 13px;
      letter-spacing: 0.3px;
     
    }
  }
  