
.BlogPage {
    max-width: 900px;
    margin: 0 auto;
    padding: 3em;
    background-color: #F3F6F8;
    color: #212529;
}

.BlogPage .title {
    text-align: center;
}

.BlogPage div:first-child {
    max-width: 150px;
    margin: 0 auto;
}

.BlogPage .title h1 {
    max-width: 600px;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: 600;
}

.BlogPage .title p {
    max-width: 700px;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 135%;
}