.error > * {
    margin: 0;
}
.error h1 {
    margin-bottom: 10px;
}

.error {
    text-align: center;
}

.error div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}