.BlogPage {
  max-width: 900px;
  margin: 0 auto;
  padding: 3em;
  background-color: #f3f6f8;
  color: #212529;
}

.BlogPage .title {
  text-align: center;
}

.BlogPage div:first-child {
  max-width: 150px;
  margin: 0 auto;
}

.BlogPage .title h1 {
  max-width: 600px;
  padding-top: 10px;
  margin: 0 auto;
  font-size: 2.5em;
  font-weight: 600;
}

.BlogPage .title p {
  max-width: 700px;
  padding-top: 20px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 135%;
}

.thumbnail{
    max-width: 700px;
    margin: 0 auto;
    border-radius: 5px;
}

.thumbnail img{
    padding-top: 2em;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 5px;
}

.thumbnail span {
    opacity: .8;

}

.BlogPage .content {
  padding: 1em;
  font-size: 1.1em;
  margin: 0 auto;
}

.BlogPage .content a {
 color: rgb(17, 17, 195);
 transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.BlogPage .content a:hover {
  color: rgb(61, 61, 217);
 }


.BlogPage .content p{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .1px;
  }

  .BlogPage .content img{
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
  }

  @media only screen and (max-width: 850px) {
    .BlogPage .thumbnail {
      display: flex;
      flex-direction: column;
    }

    .BlogPage .thumbnail span {
     padding-left: 2%;
    }

    .BlogPage .thumbnail img,
    .BlogPage .content img{
      max-width: 600px;
    }
  }

  @media only screen and (max-width: 675px) {

    .BlogPage .content {
      font-size: 1em;
    }
   

    .BlogPage .thumbnail img,
    .BlogPage .content img{
      max-width: 450px;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 505px) {

    .BlogPage .content {
      font-size: .9em;
    }
   

    .BlogPage .thumbnail img,
    .BlogPage .content img{
      max-width: 300px;
      margin: 0 auto;
    }
  }