/* service card styles */

.serviceCard {
  width: 265px;
  height: 291px;
  background-color: white;
  margin: 0;
  padding: 1.2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.serviceCard .avatar {
  height: 50px;
  width: 46px;
  border-radius: 50%;
  background-color: #e1f2ea;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceCard .content h4,
.serviceCard .content p {
  padding: 0;
  margin: 0;
}

.serviceCard .content h4 {
  margin: 0 auto;
  margin-bottom: 7px;
  height: 1.4em;
  max-width: 138px;
}

.serviceCard .content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.025em;
}

.serviceCard a {
  font-weight: 600;
  width: max-content;
  margin: 0 auto;
}

.serviceCard a:hover {
  text-decoration: underline;
}

/* project card styles */

.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.projectCard div:first-child {
  width: 350px;
  height: 250px;
  background-color: rgba(33, 37, 41, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectCard div:first-child h4 {
  font-size: 2em;
  font-weight: 400;
}

.projectCard div:last-child > * {
  margin: 0;
  padding: 0;
}

.projectCard div:last-child h3 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.projectCard div:last-child p {
  margin: 10px 0 15px 0;
  font-size: 1.4em;
  max-width: 600px;
  opacity: 0.9;
  line-height: 35px;
  font-weight: 300;
}

@media only screen and (max-width: 1100px) {
  .projectCard {
    text-align: center;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 670px) {
  .projectCard {
    text-align: center;
    font-size: 0.9em;
  }

  .projectCard div:first-child {
    width: 250px;
    height: 150px;
  }
}

.projectCard div:last-child button {
  background-color: white;
  border: 2px solid #c5ecd9;
  color: #96dab9;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.projectCard div:last-child button:hover {
  transform: scale(0.97);
}

/* blog card styles */
