/* service section styles */

.services {
  text-align: center;
}

.services span {
  font-weight: 500;
  letter-spacing: 0.2px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.services h2 {
  font-size: 2.3em;
  max-width: 500px;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 0.26px;
}

.services > div {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

@media only screen and (max-width: 670px) {
  .services h2 {
    font-size: 1.8em;
    max-width: 405px;
  }
}

/* project list styles */

.projectList {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 4em;
  padding: 4em;
}

/* testimonial grid styles */

.testimonial {
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 2em;
}

.testimonial .title {
  max-width: 515px;
  margin: 0 auto;
}

.testimonial .title span {
  font-weight: 500;
  letter-spacing: 0.2px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.9;
  font-size: 1.1em;
}
.testimonial .title h2 {
  font-size: 2.3em;
  max-width: 500px;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 0.26px;
}

.testimonial .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  height: 80%;
  align-items: center;
}

.testimonial .grid span {
  font-size: 200px;

  font-family: "Dancing Script", cursive;
}

/* blog styles */

.blog {
  text-align: center;
  padding: 1em;
}

.blog a {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.blog a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.blog .title {
  max-width: 515px;
  margin: 0 auto;
}
.blog .title h3 {
  font-weight: 500;
  letter-spacing: 0.2px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.blog .title h2 {
  font-size: 2.3em;

  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 0.26px;
}

.blog .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  padding: 3em;
  justify-content: center;
  align-items: stretch;
}
