.mobileMenu {
    position: fixed;
    background-color: #212529;
    width: 100%;
    top: 0;
    left: 0;
    height:100%;
    padding: 4em;

    display: flex;
    flex-direction: column;
    padding-top: 10em;
    align-items: center;
    z-index: 100;
}

.mobileMenu h2 {
    position: absolute;
    color: white;
    top: 5px;
    right: 20px;
}

.mobileMenu .image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.mobileMenu button {
    width: 200px;
    height: 55px;
  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    background-color: #c5ecd9;
    cursor: pointer;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.015em;
  }

  .mobileMenu div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.1em;
  }

  @media only screen and (max-width: 600px) {
    .mobileMenu div {
        gap: 50px;
    }
  }