.hero {
  background-color: #e1f2ea;
  margin: 0;
  width: 100%;
  height: 250px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5em;
  color: #212529;
}

.hero div {
  max-width: 600px;
  text-align: center;
}

.hero div h1,
.hero div h2 {
  padding: 0;
  margin: 0;
}

.hero div h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.175px;
}

.hero div h2 {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.1px;
  max-width: 530px;
  opacity: 0.9;
}

/* content styles */

.content {
  background-color: #f3f6f8;
  color: #212529;
}

.content a{
color: rgb(27, 27, 210);
}


.content .contentSideBar {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin: 0 auto;
}

.content .contentSideBar h3,
.content h3 {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-align: left;
  margin-bottom: 5px;
}

/* make the heading for the icons a correct size */
.content .contentSideBar div:last-child h3 {
  font-size: 1.4em;
  text-align: left;
}

.content .contentSideBar p,
.content p {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-align: left;
}

.content > .contentSideBar .iconGrid {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 200px;
  margin: 10px auto;
 
}

.content > .contentSideBar .iconGrid img{
  width: 50px;
  cursor: pointer;
  opacity: .9;
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content > .contentSideBar .iconGrid img:hover{
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .content .contentSideBar {
    flex-direction: column-reverse;
  }

  .content > .contentSideBar .iconGrid {
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
}